@import 'normolize'
@import 'elements'
@import 'header'

.listing
    display: flex
    flex-wrap: wrap
    &-item
        padding: 7px 4px
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        position: relative
        z-index: 1
        text-align: center
        color: white
        width: 25%
        min-height: 90px
        background-color: $prime
        box-shadow: 1px 1px 0px 0px #FFFFFF40 inset, -1px -1px 0px 0px #00000040 inset

        &:hover
            z-index: 111
            opacity: 1
            box-shadow: 0px 0px 5px 0px #0000004D inset, -1px -1px 0px 0px #00000040 inset

    &__num
        font-size: 32px
        line-height: 32px
        margin: auto 0
        text-shadow: 1px 1px 1px #00000040

    &__text
        margin: auto 0
        font-size: 12px
        font-weight: 400
        line-height: 14.22px
        letter-spacing: -0.4px

    &__online
        color: #373737
        background-color: $light-green
        border-radius: 50%
        width: 17px
        line-height: 17px
        height: 17px
        font-size: 12px

    @media screen and ( max-width: 359px )
        &-item
            width: 33.33%

    @media screen and ( min-width: 520px )
        &-item
            width: 20%

    @media screen and ( min-width: 680px )
        &-item
            width: 12.5%

.title
    width: 100%
    background-color: $blue
    color: $white
    padding: 15px 15px 0
    font-weight: normal
    line-height: 0
    &__heading
        font-weight: 600
        display: block
        font-size: 16px
        line-height: 18.96px
        margin: 0 0 2px
        b, strong
            font-size: 24px

    &__address
        display: inline
        font-weight: normal
        font-size: 15px
        line-height: 120%
        &::after
            content: ''
            width: 12px
            height: 7px
            margin: 0 0 0 10px
            vertical-align: middle
            display: inline-block
            background-image: url('../img/title-arrow.svg')
            background-repeat: no-repeat
            background-position: center center

        &:last-of-type
            &::after
                display: none

.stops
    padding-left: 20px
    &__heading 
        margin-bottom: 11px
        font-weight: 500
        font-size: 14px
    &-section
        padding: 22px 17px 0 33px

    li
        min-height: 40px
        display: flex
        align-items: center
        border-bottom: 1px solid $prime
        padding: 3px 0
        position: relative
        z-index: 1
        &::before
            content: ''
            display: inline-block
            width: 10px
            height: 10px
            box-sizing: border-box
            border: 2px solid $blue
            border-radius: 50%
            position: absolute
            left: -20px
            top: 50%
            transform: translateY(-50%)
            box-shadow: 0 0 0 4px $white

    &__text
        font-size: 14px
        font-weight: 400
        line-height: 16px

@import 'footer'
